body {
    background-color: grey;
}

.MainW h1 {
    text-align: center;
    font-size: 75px;
    border: 20px solid rgb(62, 62, 139);
    padding: 10px;
    margin: -10px;
    background-color: rgb(62, 62, 139);
}

.search h1 {
    font-size: 30px;
    text-align: left;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: left; 
    flex-direction: column; 
}

.search .searchB {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px; 
}

.search input {
    width: 250px;
    padding: 5px;
    font-size: 24px;
    border-radius: 20px;
    margin-bottom: 10px; 
}

.search button {
    background-color: rgb(157, 157, 253);
    padding: 10px 20px;
    width: 225px;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start;
}

#weatherData {
    display: flex;
}

.forecast-day {
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1; /* Makes all boxes equal width */
    width: 150px; /* Minimum width of each forecast box */
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap; /* This allows the items to wrap if they exceed the container's width */
    gap: 10px; /* Space between forecast boxes */
}

#currentWeather {
    border: 2px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}